<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>


<form th:action="@{/savedata}" method="post">
    <h2>Sign Up</h2>
    <p>
        <label for="Email" class="floatLabel">Email</label>
        <input id="Email" name="email" type="text">
    </p>
    <p>
        <label for="password" class="floatLabel">Password</label>
        <input id="password" name="password" type="password">
        <span>Enter a password longer than 8 characters</span>
    </p>
    <p>
        <label for="confirm_password" class="floatLabel">Confirm Password</label>
        <input id="confirm_password" name="confirm_password" type="password">
        <span>Your passwords do not match</span>
    </p>
    <p>
        <input type="submit" value="Create My Account" id="submit">
    </p>
</form>
</body>
</html>